## **Title Name : íŒë‹¤ìŠ¤ ë¬¸ì œí’€ì´**

<p style="font-weight:bolder; font-size : 21px">
    Step : Day1
<p>
<p style="font-weight:bolder; font-size : 21px">
    Content : ì»¤ìŠ¤í…€ ë¬¸ì œí’€ì´
<p>
<p style="font-weight:bolder; font-size : 21px">
   RegDate : 2023.11.25
<p>

------------------------------------------------------------


<h2 style="font-weight:bolder; font-size : 25px">
ë¬¸ì œí’€ì´ : 
Q0 ~ Q19
<h2>

------------------------------------------------------

# 01. í™˜ê²½ì„¤ì •
---------------------------------------------

In [ ]:
# ì‹œìŠ¤í…œ
import os
import sys
import random
from time import time

# ë°ì´í„°ë¶„ì„ 4ì¢…ì„¸íŠ¸
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# ì‹œê°í™”í…Œë§ˆ
sns.set_theme(style='whitegrid')
plt.style.use('dark_background')

In [22]:
# ë‹µì•ˆ ì´ˆê¸°í™”
Q0 = 0

# 02. ë¬¸ì œí’€ì´
------------------------------------------

### ğŸ”¹ ì°¸ê³  ì‚¬ì´íŠ¸ ë§í¬
------------------------------------------
[ì°¸ê³  ì‚¬ì´íŠ¸ : íŒë‹¤ìŠ¤ ì—°ìŠµ íŠœí† ë¦¬ì–¼](https://www.datamanim.com/dataset/99_pandas/pandasMain.html)

In [42]:
"""-------------------------------------------------------------------------------------------------------------------------------------------------------------------
ğŸŸ¨ ë°ì´í„°ì…‹ URL ì •ë³´

+ Q1~Q8     :
- info :ë¡¤ ë­í‚¹ ë°ì´í„° : https://www.kaggle.com/datasnaek/league-of-legends
â–¶ url :
'https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv'

+ Q9~Q19    : 
- info : ì œì£¼ ë‚ ì”¨,ì¸êµ¬ì— ë”°ë¥¸ êµí†µëŸ‰ë°ì´í„° : ì¶œì²˜ ì œì£¼ ë°ì´í„° í—ˆë¸Œ
â–¶ url : 
'https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv'

-------------------------------------------------------------------------------------------------------------------------------------------------------------------"""

"-------------------------------------------------------------------------------------------------------------------------------------------------------------------\nğŸŸ¨ ë°ì´í„°ì…‹ URL ì •ë³´\n\n+ Q1~Q8     :\n- info :ë¡¤ ë­í‚¹ ë°ì´í„° : https://www.kaggle.com/datasnaek/league-of-legends\nâ–¶ url :\n'https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv'\n\n+ Q9~Q99    : \n- info : ì œì£¼ ë‚ ì”¨,ì¸êµ¬ì— ë”°ë¥¸ êµí†µëŸ‰ë°ì´í„° : ì¶œì²˜ ì œì£¼ ë°ì´í„° í—ˆë¸Œ\nâ–¶ url : \n'https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv'\n\n-------------------------------------------------------------------------------------------------------------------------------------------------------------------"

#### 01 Getting & Knowing Data
-----------------------------------------------------

In [1]:
# Q0. pdë¡œ íŒë‹¤ìŠ¤ ë¶ˆëŸ¬ì˜¤ê¸°
#-------------------------------------
import pandas as pd

In [23]:
# Q1. ë°ì´í„° ë¡œë“œ
#     ë°ì´í„°ëŠ” \tì„ ê¸°ì¤€ìœ¼ë¡œ êµ¬ë¶„
#-------------------------------------
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv', sep='\t')
Q1 = df
Q1

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51485,3308904636,1503076540231,1944,9,2,1,2,2,0,2,...,10,2,0,4,0,55,-1,90,238,157
51486,3215685759,1496957179355,3304,9,2,1,1,2,2,2,...,11,7,4,4,1,157,55,119,154,105
51487,3322765040,1504029863961,2156,9,2,2,2,2,0,1,...,10,2,0,2,0,113,122,53,11,157
51488,3256675373,1499562036246,1475,9,2,2,2,2,0,2,...,11,3,0,1,0,154,39,51,90,114
51489,3317333020,1503612754059,1445,9,1,1,1,1,1,2,...,1,0,0,1,0,11,157,141,31,18

In [24]:
# Q2. ë°ì´í„°ì˜ ìƒìœ„ 5ê°œ í–‰ì„ ì¶œë ¥
#-------------------------------------
Q2 = df.head(5)
Q2

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18

In [15]:
# Q3. ë°ì´í„°ì˜ í–‰ê³¼ ì—´ì˜ ê°¯ìˆ˜ë¥¼ íŒŒì•…
#-------------------------------------

# 1ë²ˆë°©ë²• : sizeê³„ì‚°
print(f'í–‰ì˜ê°¯ìˆ˜ : {df.size}ê°œ')
print(f'ì—´ì˜ê°¯ìˆ˜ : {df.columns.size}ê°œ')
print('-'*50)

# 2ë²ˆë°©ë²• : shapeê³„ì‚°
print(f'í–‰ì˜ê°¯ìˆ˜ : {df.shape[0]}ê°œ')
print(f'ì—´ì˜ê°¯ìˆ˜ : {df.shape[1]}ê°œ')
print('-'*50)

í–‰ì˜ê°¯ìˆ˜ : 3140890ê°œ
ì—´ì˜ê°¯ìˆ˜ : 61ê°œ
--------------------------------------------------
í–‰ì˜ê°¯ìˆ˜ : 51490ê°œ
ì—´ì˜ê°¯ìˆ˜ : 61ê°œ
--------------------------------------------------

In [25]:
# Q4. ì „ì²´ì»¬ëŸ¼ì„ ì¶œë ¥
#-------------------------------------
Q4 = df.columns
Q4

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

In [30]:
# Q5. 6ë²ˆì§¸ ì»¬ëŸ¼ëª…ì„ ì¶œë ¥
#-------------------------------------
Q5 = df.columns[5]
Q5

'firstBlood'

In [34]:
# Q6. 6ë²ˆì§¸ ì»¬ëŸ¼ì˜ ë°ì´í„° íƒ€ì…ì„ í™•ì¸
#-------------------------------------
Q6 = df.iloc[5].dtype
Q6

dtype('int64')

In [36]:
# Q7. ë°ì´í„° ì¸ë±ìŠ¤ êµ¬ì„± í™•ì¸
#-------------------------------------
Q7  = df.index
Q7

RangeIndex(start=0, stop=51490, step=1)

In [39]:
# Q8. 6ë²ˆì§¸ ì»¬ëŸ¼ì˜ 3ë²ˆì§¸ ê°’ì„ êµ¬í•˜ê¸°
#-------------------------------------
Q8 = df.iloc[2,5]
Q8

2

In [49]:
# Q9. ë°ì´í„°ë¥¼ ë¡œë“œ(í•œê¸€ ì¸ì½”ë”©)
#-------------------------------------
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv',encoding='EUC-KR')
Q9 = df
Q9

,id,ì¼ì,ì‹œë„ëª…,ìë©´ë™ëª…,ê±°ì£¼ì¸êµ¬,ê·¼ë¬´ì¸êµ¬,ë°©ë¬¸ì¸êµ¬,ì´ ìœ ë™ì¸êµ¬,í‰ê· ì†ë„,í‰ê· ì†Œìš” ì‹œê°„,í‰ê· ê¸°ì˜¨,ì¼ê°•ìˆ˜ëŸ‰,í‰ê· í’ì†
0,22448,2018-01-01,ì œì£¼ì‹œ,ë„ë‘ë™,32249.987,3418.266,102709.092,138377.345,39.556,29.167,5.0,0.0,2.50
1,22449,2018-01-01,ì œì£¼ì‹œ,ì™¸ë„ë™,213500.997,10341.172,112692.789,336534.958,32.900,30.900,5.0,0.0,2.50
2,22450,2018-01-01,ì œì£¼ì‹œ,ì´ë„2ë™,1212382.218,96920.834,541194.481,1850497.533,29.538,35.692,2.9,0.0,2.40
3,22451,2018-01-01,ì œì£¼ì‹œ,ì¼ë„1ë™,33991.653,6034.253,72155.919,112181.825,30.000,23.500,2.9,0.0,2.40
4,22452,2018-01-01,ì„œê·€í¬ì‹œ,ëŒ€ì²œë™,155036.925,9403.969,150882.409,315323.303,41.583,14.375,5.1,0.0,2.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9616,32064,2020-04-30,ì„œê·€í¬ì‹œ,í‘œì„ ë©´,228260.005,16891.732,152832.449,397984.186,44.514,34.054,18.1,0.0,4.70
9617,32065,2020-04-30,ì œì£¼ì‹œ,í•œë¦¼ì,459959.064,26007.122,249700.419,735666.605,48.609,61.377,18.0,0.0,4.35
9618,32066,2020-04-30,ì œì£¼ì‹œ,ë„ë‘ë™,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.00
9619,32067,2020-04-30,ì„œê·€í¬ì‹œ,ì•ˆë•ë©´,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.50
9620,32068,2020-04-30,ì œì£¼ì‹œ,ì—°ë™,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.80

In [50]:
# Q10. ë°ì´í„° ë§ˆì§€ë§‰ 3ê°œí–‰ì„ ì¶œë ¥
#-------------------------------------
Q10 = df.tail(3)
Q10

,id,ì¼ì,ì‹œë„ëª…,ìë©´ë™ëª…,ê±°ì£¼ì¸êµ¬,ê·¼ë¬´ì¸êµ¬,ë°©ë¬¸ì¸êµ¬,ì´ ìœ ë™ì¸êµ¬,í‰ê· ì†ë„,í‰ê· ì†Œìš” ì‹œê°„,í‰ê· ê¸°ì˜¨,ì¼ê°•ìˆ˜ëŸ‰,í‰ê· í’ì†
9618,32066,2020-04-30,ì œì£¼ì‹œ,ë„ë‘ë™,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.0
9619,32067,2020-04-30,ì„œê·€í¬ì‹œ,ì•ˆë•ë©´,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.5
9620,32068,2020-04-30,ì œì£¼ì‹œ,ì—°ë™,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.8

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        9621 non-null   int64
 1   ì¼ì        9621 non-null   object
 2   ì‹œë„ëª…       9621 non-null   object
 3   ìë©´ë™ëª…      9621 non-null   object
 4   ê±°ì£¼ì¸êµ¬      9621 non-null   float64
 5   ê·¼ë¬´ì¸êµ¬      9621 non-null   float64
 6   ë°©ë¬¸ì¸êµ¬      9621 non-null   float64
 7   ì´ ìœ ë™ì¸êµ¬    9621 non-null   float64
 8   í‰ê·  ì†ë„     9621 non-null   float64
 9   í‰ê·  ì†Œìš” ì‹œê°„  9621 non-null   float64
 10  í‰ê·  ê¸°ì˜¨     9621 non-null   float64
 11  ì¼ê°•ìˆ˜ëŸ‰      9621 non-null   float64
 12  í‰ê·  í’ì†     9621 non-null   float64
dtypes: float64(9), int64(1), object(3)
memory usage: 977.3+ KB

In [63]:
# Q11. ìˆ˜ì¹˜í˜• ë³€ìˆ˜ë¥¼ ê°€ì§„ ì»¬ëŸ¼ì„ ì¶œë ¥
#-------------------------------------
Q11 = df.select_dtypes(include='number').columns
# Q11 = df.select_dtypes(exclude='object').columns
Q11

Index(['id', 'ê±°ì£¼ì¸êµ¬', 'ê·¼ë¬´ì¸êµ¬', 'ë°©ë¬¸ì¸êµ¬', 'ì´ ìœ ë™ì¸êµ¬', 'í‰ê·  ì†ë„', 'í‰ê·  ì†Œìš” ì‹œê°„', 'í‰ê·  ê¸°ì˜¨',
       'ì¼ê°•ìˆ˜ëŸ‰', 'í‰ê·  í’ì†'],
      dtype='object')

In [65]:
# Q12. ë²”ì£¼í˜• ë³€ìˆ˜ë¥¼ ê°€ì§„ ì»¬ëŸ¼ì„ ì¶œë ¥
#-------------------------------------
Q12 = df.select_dtypes(include='object').columns
# Q12 = df.select_dtypes(exclude='number').columns
Q12

Index(['ì¼ì', 'ì‹œë„ëª…', 'ìë©´ë™ëª…'], dtype='object')

In [73]:
# Q13. ê° ì»¬ëŸ¼ì˜ ê²°ì¸¡ì¹˜ ìˆ«ìë¥¼ íŒŒì•…
#-------------------------------------
Q13 = df.isna().sum()
Q13

id          0
ì¼ì          0
ì‹œë„ëª…         0
ìë©´ë™ëª…        0
ê±°ì£¼ì¸êµ¬        0
ê·¼ë¬´ì¸êµ¬        0
ë°©ë¬¸ì¸êµ¬        0
ì´ ìœ ë™ì¸êµ¬      0
í‰ê·  ì†ë„       0
í‰ê·  ì†Œìš” ì‹œê°„    0
í‰ê·  ê¸°ì˜¨       0
ì¼ê°•ìˆ˜ëŸ‰        0
í‰ê·  í’ì†       0
dtype: int64

In [74]:
# Q14.ë°ì´í„°ì˜ ê°„ëµ ì •ë³´ í™•ì¸(ì»¬ëŸ¼ì˜ ë°ì´í„°ìˆ˜, ë°ì´í„°íƒ€ì…)
#-------------------------------------
Q14 = df.info()
Q14

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        9621 non-null   int64
 1   ì¼ì        9621 non-null   object
 2   ì‹œë„ëª…       9621 non-null   object
 3   ìë©´ë™ëª…      9621 non-null   object
 4   ê±°ì£¼ì¸êµ¬      9621 non-null   float64
 5   ê·¼ë¬´ì¸êµ¬      9621 non-null   float64
 6   ë°©ë¬¸ì¸êµ¬      9621 non-null   float64
 7   ì´ ìœ ë™ì¸êµ¬    9621 non-null   float64
 8   í‰ê·  ì†ë„     9621 non-null   float64
 9   í‰ê·  ì†Œìš” ì‹œê°„  9621 non-null   float64
 10  í‰ê·  ê¸°ì˜¨     9621 non-null   float64
 11  ì¼ê°•ìˆ˜ëŸ‰      9621 non-null   float64
 12  í‰ê·  í’ì†     9621 non-null   float64
dtypes: float64(9), int64(1), object(3)
memory usage: 977.3+ KB

In [75]:
# Q15. ê° ìˆ˜ì¹˜í˜• ë³€ìˆ˜ì˜ ë¶„í¬(ì‚¬ë¶„ìœ„, í‰ê· , í‘œì¤€í¸ì°¨, ìµœëŒ€ , ìµœì†Œ)ë¥¼ í™•ì¸
#-------------------------------------
Q15 = df.describe()
Q15

,id,ê±°ì£¼ì¸êµ¬,ê·¼ë¬´ì¸êµ¬,ë°©ë¬¸ì¸êµ¬,ì´ ìœ ë™ì¸êµ¬,í‰ê· ì†ë„,í‰ê· ì†Œìš” ì‹œê°„,í‰ê· ê¸°ì˜¨,ì¼ê°•ìˆ˜ëŸ‰,í‰ê· í’ì†
count,9621.000000,9.621000e+03,9621.000000,9621.000000,9.621000e+03,9621.000000,9621.000000,9621.000000,9621.000000,9621.000000
mean,27258.000000,3.174315e+05,35471.201510,195889.561802,5.487922e+05,41.109084,37.215873,13.550828,6.972426,2.753171
std,2777.487804,2.982079e+05,40381.214775,140706.090325,4.608802e+05,8.758631,12.993786,7.745515,27.617260,1.498538
min,22448.000000,9.305552e+03,1407.936000,11538.322000,2.225181e+04,24.333000,12.667000,-9.600000,0.000000,0.000000
25%,24853.000000,9.539939e+04,12074.498000,99632.153000,2.216910e+05,34.250000,27.889000,7.600000,0.000000,1.700000
50%,27258.000000,2.221105e+05,21960.928000,152805.335000,3.866935e+05,39.640000,34.500000,13.400000,0.000000,2.400000
75%,29663.000000,4.106671e+05,40192.032000,236325.109000,6.406918e+05,49.105000,46.176000,19.700000,1.500000,3.400000
max,32068.000000,1.364504e+06,263476.965000,723459.209000,2.066484e+06,103.000000,172.200000,30.400000,587.500000,13.333000

In [77]:
# Q16. ê±°ì£¼ì¸êµ¬ ì»¬ëŸ¼ì˜ ê°’ë“¤ì„ ì¶œë ¥
#-------------------------------------
Q16 = df['ê±°ì£¼ì¸êµ¬']
Q16

0         32249.987
1        213500.997
2       1212382.218
3         33991.653
4        155036.925
           ...
9616     228260.005
9617     459959.064
9618      28397.481
9619     348037.846
9620    1010643.372
Name: ê±°ì£¼ì¸êµ¬, Length: 9621, dtype: float64

In [82]:
# Q17. í‰ê·  ì†ë„ ì»¬ëŸ¼ì˜ 4ë¶„ìœ„ ë²”ìœ„(IQR) ê°’ì„ êµ¬í•˜ì—¬ë¼
#-------------------------------------
IQR = df['í‰ê·  ì†ë„'].quantile(0.75) - df['í‰ê·  ì†ë„'].quantile(0.25)
Q17 = round(IQR,2)
Q17

14.85

In [83]:
# Q18. ìë©´ë™ëª… ì»¬ëŸ¼ì˜ ìœ ì¼ê°’ ê°¯ìˆ˜ë¥¼ ì¶œë ¥
#-------------------------------------
Q18 = df['ìë©´ë™ëª…'].nunique()
Q18

41

In [85]:
# Q19. ìë©´ë™ëª… ì»¬ëŸ¼ì˜ ìœ ì¼ê°’ì„ ëª¨ë‘ ì¶œë ¥
#-------------------------------------
Q19 = df['ìë©´ë™ëª…'].unique()
Q19

array(['ë„ë‘ë™', 'ì™¸ë„ë™', 'ì´ë„2ë™', 'ì¼ë„1ë™', 'ëŒ€ì²œë™', 'ì„œí™ë™', 'í•œê²½ë©´', 'ì†¡ì‚°ë™', 'ì¡°ì²œì',
       'ì¼ë„2ë™', 'ì˜ì²œë™', 'ì˜ˆë˜ë™', 'ëŒ€ë¥œë™', 'ì‚¼ë„1ë™', 'ì´í˜¸ë™', 'ê±´ì…ë™', 'ì¤‘ì•™ë™', 'ì‚¼ì–‘ë™',
       'ì‚¼ë„2ë™', 'ì´ë„1ë™', 'ë‚¨ì›ì', 'ëŒ€ì •ì', 'ì •ë°©ë™', 'íš¨ëˆë™', 'ì•„ë¼ë™', 'í•œë¦¼ì', 'êµ¬ì¢Œì',
       'ìš©ë‹´1ë™', 'ì˜¤ë¼ë™', 'í™”ë¶ë™', 'ì—°ë™', 'í‘œì„ ë©´', 'ì¤‘ë¬¸ë™', 'ì„±ì‚°ì', 'ì•ˆë•ë©´', 'ì²œì§€ë™',
       'ë…¸í˜•ë™', 'ë™í™ë™', 'ìš©ë‹´2ë™', 'ë´‰ê°œë™', 'ì• ì›”ì'], dtype=object)

In [ ]:
# Q
#-------------------------------------
Q0

0