## **Title Name : 판다스 문제풀이**

<p style="font-weight:bolder; font-size : 21px">
    Step :  Day4
<p>
<p style="font-weight:bolder; font-size : 21px">
    Content : 커스텀 문제풀이
<p>
<p style="font-weight:bolder; font-size : 21px">
   RegDate : 2023.12.04
<p>

------------------------------------------------------------


<h2 style="font-weight:bolder; font-size : 25px">
문제풀이 : 
Q56 ~ Q62
<h2>

------------------------------------------------------

# 01. 환경설정
---------------------------------------------

In [1]:
# 시스템
import os
import sys
import random
from time import time

# 데이터분석 4종세트
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# 시각화테마
sns.set_theme(style='whitegrid')
plt.style.use('dark_background')

In [2]:
# 답안 초기화
Q0 = 0

# 02. 문제풀이
------------------------------------------

### 🔹 참고 사이트 링크
------------------------------------------
[참고 사이트 : 판다스 연습 튜토리얼](https://www.datamanim.com/dataset/99_pandas/pandasMain.html)

In [3]:
"""-------------------------------------------------------------------------------------------------------------------------------------------------------------------
🟨 데이터셋 URL 정보

+ Q56~Q62     :
- info : 카드이용데이터 : https://www.kaggle.com/sakshigoyal7/credit-card-customers 
▶ url :
'https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv'


-------------------------------------------------------------------------------------------------------------------------------------------------------------------"""

"-------------------------------------------------------------------------------------------------------------------------------------------------------------------\n🟨 데이터셋 URL 정보\n\n+ Q44~Q55     :\n- info : 카드이용데이터 : https://www.kaggle.com/sakshigoyal7/credit-card-customers \n▶ url :\n'https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv'\n\n\n-------------------------------------------------------------------------------------------------------------------------------------------------------------------"

#### 04_Apply , Map
-----------------------------------------------------

In [4]:
# Q56. 데이터로드
#-------------------------------------
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv')

In [6]:
# Q56. 행과 열의 갯수를 출력
#-------------------------------------
Q56 = df.shape
Q56

(10127, 19)

In [7]:
# Q57. Income_Category의 카테고리를 map 함수를 이용하여 다음과 같이 변경하여 newIncome 컬럼에 매핑
# 예시 :
'''
        Unknown : N
        Less than $40K : a
        $40K - $60K : b
        $60K - $80K : c
        $80K - $120K : d
        $120K + : e
'''
#-------------------------------------
dict = {
            'Unknown'        : 'N',
            'Less than $40K' : 'a',
            '$40K - $60K'    : 'b',
            '$60K - $80K'    : 'c',
            '$80K - $120K'   : 'd',
            '$120K +'        : 'e'     
       }
df['newIncome']  = df.Income_Category.map(lambda x: dict[x])
Q57 = df['newIncome']
Q57

0        c
1        a
2        d
3        a
4        c
        ..
10122    b
10123    b
10124    a
10125    b
10126    a
Name: newIncome, Length: 10127, dtype: object

In [8]:
# Q58. Income_Category의 카테고리를 apply 함수를 이용하여 다음과 같이 변경하여 newIncome 컬럼에 매핑
# 예시 :
'''
        Unknown : N
        Less than $40K : a
        $40K - $60K : b
        $60K - $80K : c
        $80K - $120K : d
        $120K + : e
'''
#-------------------------------------
def changeCategory(x):
    if x =='Unknown':
        return 'N'
    elif x =='Less than $40K':
        return 'a'
    elif x =='$40K - $60K':   
        return 'b'
    elif x =='$60K - $80K':    
        return 'c'
    elif x =='$80K - $120K':   
        return 'd'
    elif x =='$120K +' :     
        return 'e'

df['newIncome']  =df.Income_Category.apply(changeCategory)
Q58 = df['newIncome']
Q58

0        c
1        a
2        d
3        a
4        c
        ..
10122    b
10123    b
10124    a
10125    b
10126    a
Name: newIncome, Length: 10127, dtype: object

In [9]:
# Q59. Customer_Age의 값을 이용하여 나이 구간을 AgeState 컬럼으로 정의하고
#      0~9 : 0 , 10~19 :10 , 20~29 :20 … 각 구간의 빈도수를 출력
#-------------------------------------
df['AgeState']  = df.Customer_Age.map(lambda x: x//10 *10)
Q59 = df['AgeState'].value_counts().sort_index()
Q59

AgeState
20     195
30    1841
40    4561
50    2998
60     530
70       2
Name: count, dtype: int64

In [10]:
# Q60. Education_Level의 값중 Graduate단어가 포함되는 값은 1, 그렇지 않은 경우에는 0으로 변경하여
#      newEduLevel 컬럼을 정의하고 빈도수를 출력
#-------------------------------------
df['newEduLevel'] = df.Education_Level.map(lambda x : 1 if 'Graduate' in x else 0)
Q60 = df['newEduLevel'].value_counts()
Q60

newEduLevel
0    6483
1    3644
Name: count, dtype: int64

In [11]:
# Q61. Credit_Limit 컬럼값이 4500 이상인 경우 1 그외의 경우에는 모두 0으로 하는 newLimit 정의하고,
#      newLimit 각 값들의 빈도수를 출력
#-------------------------------------
df['newLimit'] = df.Credit_Limit.map(lambda x : 1 if x>=4500 else 0)
Q61 = df['newLimit'].value_counts()
Q61

newLimit
1    5096
0    5031
Name: count, dtype: int64

In [13]:
# Q62. Marital_Status 컬럼값이 Married 이고 Card_Category 컬럼의 값이 Platinum인 경우 1 
#      그외의 경우에는 모두 0으로 하는 newState컬럼을 정의하고
#      newState의 각 값들의 빈도수를 출력
#-------------------------------------
def check(x):
    if x.Marital_Status =='Married' and x.Card_Category =='Platinum':
        return 1
    else:
        return 0
df['newState'] = df.apply(check,axis=1)
Q62  = df['newState'].value_counts()
Q62

newState
0    10120
1        7
Name: count, dtype: int64

In [14]:
# Q62. Gender 컬럼값 M인 경우 male F인 경우 female로 값을 변경하여 Gender 컬럼에 새롭게 정의하고
#      각 value의 빈도를 출력
#-------------------------------------
def changeGender(x):
    if x =='M':
        return 'male'
    else:
        return 'female'
df['Gender'] = df.Gender.apply(changeGender)
Q62 = df['Gender'].value_counts()
Q62

Gender
female    5358
male      4769
Name: count, dtype: int64

In [ ]:
# Q
#-------------------------------------
Q0

0