## **Title Name : ÌåêÎã§Ïä§ Î¨∏Ï†úÌíÄÏù¥**

<p style="font-weight:bolder; font-size : 21px">
    Step : Day1
<p>
<p style="font-weight:bolder; font-size : 21px">
    Content : Ïª§Ïä§ÌÖÄ Î¨∏Ï†úÌíÄÏù¥
<p>
<p style="font-weight:bolder; font-size : 21px">
   RegDate : 2023.11.25
<p>

------------------------------------------------------------


<h2 style="font-weight:bolder; font-size : 25px">
Î¨∏Ï†úÌíÄÏù¥ : 
Q20 ~ 
<h2>

------------------------------------------------------

# 01. ÌôòÍ≤ΩÏÑ§Ï†ï
---------------------------------------------

In [1]:
# ÏãúÏä§ÌÖú
import os
import sys
import random
from time import time

# Îç∞Ïù¥ÌÑ∞Î∂ÑÏÑù 4Ï¢ÖÏÑ∏Ìä∏
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# ÏãúÍ∞ÅÌôîÌÖåÎßà
sns.set_theme(style='whitegrid')
plt.style.use('dark_background')

In [2]:
# ÎãµÏïà Ï¥àÍ∏∞Ìôî
Q0 = 0

# 02. Î¨∏Ï†úÌíÄÏù¥
------------------------------------------

### üîπ Ï∞∏Í≥† ÏÇ¨Ïù¥Ìä∏ ÎßÅÌÅ¨
------------------------------------------
[Ï∞∏Í≥† ÏÇ¨Ïù¥Ìä∏ : ÌåêÎã§Ïä§ Ïó∞Ïäµ ÌäúÌÜ†Î¶¨Ïñº](https://www.datamanim.com/dataset/99_pandas/pandasMain.html)

In [3]:
"""-------------------------------------------------------------------------------------------------------------------------------------------------------------------
üü® Îç∞Ïù¥ÌÑ∞ÏÖã URL Ï†ïÎ≥¥

+ Q20~     :
- info :ÏãùÎãπÎç∞Ïù¥ÌÑ∞ : justmarkham/DAT8
‚ñ∂ url :
'https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv'


-------------------------------------------------------------------------------------------------------------------------------------------------------------------"""

"-------------------------------------------------------------------------------------------------------------------------------------------------------------------\nüü® Îç∞Ïù¥ÌÑ∞ÏÖã URL Ï†ïÎ≥¥\n\n+ Q1~Q8     :\n- info :Î°§ Îû≠ÌÇπ Îç∞Ïù¥ÌÑ∞ : https://www.kaggle.com/datasnaek/league-of-legends\n‚ñ∂ url :\n'https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv'\n\n+ Q9~Q19    : \n- info : Ï†úÏ£º ÎÇ†Ïî®,Ïù∏Íµ¨Ïóê Îî∞Î•∏ ÍµêÌÜµÎüâÎç∞Ïù¥ÌÑ∞ : Ï∂úÏ≤ò Ï†úÏ£º Îç∞Ïù¥ÌÑ∞ ÌóàÎ∏å\n‚ñ∂ url : \n'https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv'\n\n-------------------------------------------------------------------------------------------------------------------------------------------------------------------"

#### 02 Filtering & Sorting
-----------------------------------------------------

In [6]:
# Q20. Îç∞Ïù¥ÌÑ∞Î°úÎìú
#-------------------------------------
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv')

In [21]:
# Q21. quantityÏª¨Îüº Í∞íÏù¥ 3Ïù∏ Îç∞Ïù¥ÌÑ∞Î•º Ï∂îÏ∂úÌïòÏó¨ Ï≤´ 4ÌñâÏùÑ Ï∂úÎ†•
#-------------------------------------
Q21 = df.loc[df['quantity'] == 3].head(4)
Q21

,order_id,quantity,item_name,choice_description,item_price
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
689,284,3,Canned Soft Drink,[Diet Coke],$3.75
818,338,3,Bottled Water,NaN,$3.27

In [27]:
# Q22. quantityÏª¨Îüº Í∞íÏù¥ 3Ïù∏ Îç∞Ïù¥ÌÑ∞Î•º Ï∂îÏ∂úÌïòÏó¨ 
#      indexÎ•º 0Î∂ÄÌÑ∞ Ï†ïÎ†¨ÌïòÍ≥† Ï≤´ 6ÌñâÏùÑ Ï∂úÎ†•
#-------------------------------------
Q22 = df.loc[df['quantity']==3].reset_index(drop=True).head(6)
Q22

,order_id,quantity,item_name,choice_description,item_price
0,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
1,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
2,284,3,Canned Soft Drink,[Diet Coke],$3.75
3,338,3,Bottled Water,NaN,$3.27
4,350,3,Canned Soft Drink,[Sprite],$3.75
5,379,3,Canned Soft Drink,[Lemonade],$3.75

In [30]:
# Q23. quantity , item_price ÎëêÍ∞úÏùò Ïª¨ÎüºÏúºÎ°ú Íµ¨ÏÑ±Îêú
#      ÏÉàÎ°úÏö¥ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑÏÉùÏÑ±
#-------------------------------------
Q23 = df[['quantity','item_price']]

Q23

      quantity item_price
0            1     $2.39
1            1     $3.39
2            1     $3.39
3            1     $2.39
4            2    $16.98
...        ...        ...
4617         1    $11.75
4618         1    $11.75
4619         1    $11.25
4620         1     $8.75
4621         1     $8.75

[4622 rows x 2 columns]

In [40]:
# Q24. item_price Ïª¨ÎüºÏùò Îã¨Îü¨ÌëúÏãú Î¨∏ÏûêÎ•º Ï†úÍ±∞ÌïòÍ≥†
#      float ÌÉÄÏûÖÏúºÎ°ú Ï†ÄÏû•ÌïòÏó¨ new_price Ïª¨ÎüºÏóê Ï†ÄÏû•ÌïúÎí§
#      ÏïûÏùò 5Í∞úÏ∂úÎ†•
#-------------------------------------
df['new_price'] = df['item_price'].str[1:].astype(float)
df['new_price'].head()

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: new_price, dtype: float64

In [49]:
# Q25. new_price Ïª¨ÎüºÏù¥ 5Ïù¥ÌïòÏùò Í∞íÏùÑ Í∞ÄÏßÄÎäî Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ Ï∂îÏ∂ú
#-------------------------------------
Q25 = df.loc[df['new_price'] <= 5]
cnt = len(df.loc[df['new_price'] <= 5])
display(Q25)
print(cnt)

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
6,3,1,Side of Chips,NaN,$1.69,1.69
...,...,...,...,...,...,...
4606,1828,1,Canned Soft Drink,[Coke],$1.25,1.25
4609,1829,1,Canned Soft Drink,[Sprite],$1.25,1.25
4613,1831,1,Chips,NaN,$2.15,2.15
4614,1831,1,Bottled Water,NaN,$1.50,1.50
4616,1832,1,Chips and Guacamole,NaN,$4.45,4.45

1652

In [50]:
# Q26. item_nameÎ™ÖÏù¥ Chicken Salad Bowl Ïù∏ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ Ï∂îÏ∂úÌïòÍ≥†
#      index Í∞íÏùÑ Ï¥àÍ∏∞Ìôî
#-------------------------------------

Q26 = df.loc[df['item_name'] == 'Chicken Salad Bowl'].reset_index(drop=True)
Q26

,order_id,quantity,item_name,choice_description,item_price,new_price
0,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75
1,60,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Sour Cream, Che...",$22.50,22.50
2,94,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$22.50,22.50
3,111,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
4,137,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, Fajita Vegetables]",$17.50,17.50
...,...,...,...,...,...,...
105,1813,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$17.50,17.50
106,1822,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Gua...",$11.25,11.25
107,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25
108,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
109,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

In [58]:
# Q27. new_priceÍ∞íÏù¥ 9 Ïù¥ÌïòÏù¥Í≥† 
#      item_name Í∞íÏù¥ Chicken Salad Bowl Ïù∏
#      Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ Ï∂îÏ∂ú
#-------------------------------------
Q27 = df.loc[
             (df['new_price'] <= 9) & 
             (df['item_name'] == 'Chicken Salad Bowl')
            ]
Q27.head()

,order_id,quantity,item_name,choice_description,item_price,new_price
44,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75
256,111,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
526,220,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Sour ...",$8.75,8.75
528,221,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75
529,221,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75

In [63]:
# Q28. dfÏùò new_price Ïª¨Îüº Í∞íÏóê Îî∞Îùº
#      Ïò§Î¶ÑÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ¶¨ÌïòÍ≥† indexÎ•º Ï¥àÍ∏∞Ìôî
#-------------------------------------
Q28 = df.sort_values('new_price').reset_index(drop=True)
Q28

,order_id,quantity,item_name,choice_description,item_price,new_price
0,471,1,Bottled Water,NaN,$1.09,1.09
1,338,1,Canned Soda,[Coca Cola],$1.09,1.09
2,1575,1,Canned Soda,[Dr. Pepper],$1.09,1.09
3,47,1,Canned Soda,[Dr. Pepper],$1.09,1.09
4,1014,1,Canned Soda,[Coca Cola],$1.09,1.09
...,...,...,...,...,...,...
4617,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75,33.75
4618,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00,35.00
4619,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00,35.00
4620,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25,35.25
4621,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25

In [67]:
# Q29. dfÏùò item_name Ïª¨Îüº Í∞íÏ§ë 
#      Chips Ìè¨Ìï®ÌïòÎäî Í≤ΩÏö∞Ïùò Îç∞Ïù¥ÌÑ∞Î•º Ï∂úÎ†•
#-------------------------------------
Q29 = df.loc[df['item_name'].str.contains('Chips')]
Q29

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
6,3,1,Side of Chips,NaN,$1.69,1.69
10,5,1,Chips and Guacamole,NaN,$4.45,4.45
14,7,1,Chips and Guacamole,NaN,$4.45,4.45
...,...,...,...,...,...,...
4596,1826,1,Chips and Guacamole,NaN,$4.45,4.45
4600,1827,1,Chips and Guacamole,NaN,$4.45,4.45
4605,1828,1,Chips and Guacamole,NaN,$4.45,4.45
4613,1831,1,Chips,NaN,$2.15,2.15
4616,1832,1,Chips and Guacamole,NaN,$4.45,4.45

In [68]:
# Q30. dfÏùò ÏßùÏàòÎ≤àÏß∏ Ïª¨ÎüºÎßåÏùÑ Ìè¨Ìï®ÌïòÎäî Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ Ï∂úÎ†•ÌïòÎùº
#-------------------------------------
Q30 = df.iloc[:,::2]
Q30

      order_id                              item_name item_price
0            1           Chips and Fresh Tomato Salsa     $2.39
1            1                                   Izze     $3.39
2            1                       Nantucket Nectar     $3.39
3            1  Chips and Tomatillo-Green Chili Salsa     $2.39
4            2                           Chicken Bowl    $16.98
...        ...                                    ...        ...
4617      1833                          Steak Burrito    $11.75
4618      1833                          Steak Burrito    $11.75
4619      1834                     Chicken Salad Bowl    $11.25
4620      1834                     Chicken Salad Bowl     $8.75
4621      1834                     Chicken Salad Bowl     $8.75

[4622 rows x 3 columns]

In [ ]:
# Q
#-------------------------------------
Q0

0