## **Title Name : íŒë‹¤ìŠ¤ ë¬¸ì œí’€ì´**

<p style="font-weight:bolder; font-size : 21px">
    Step :  Day4
<p>
<p style="font-weight:bolder; font-size : 21px">
    Content : ì»¤ìŠ¤í…€ ë¬¸ì œí’€ì´
<p>
<p style="font-weight:bolder; font-size : 21px">
   RegDate : 2023.12.04
<p>

------------------------------------------------------------


<h2 style="font-weight:bolder; font-size : 25px">
ë¬¸ì œí’€ì´ : 
Q56 ~ Q62
<h2>

------------------------------------------------------

# 01. í™˜ê²½ì„¤ì •
---------------------------------------------

In [1]:
# ì‹œìŠ¤í…œ
import os
import sys
import random
from time import time

# ë°ì´í„°ë¶„ì„ 4ì¢…ì„¸íŠ¸
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# ì‹œê°í™”í…Œë§ˆ
sns.set_theme(style='whitegrid')
plt.style.use('dark_background')

In [2]:
# ë‹µì•ˆ ì´ˆê¸°í™”
Q0 = 0

# 02. ë¬¸ì œí’€ì´
------------------------------------------

### ğŸ”¹ ì°¸ê³  ì‚¬ì´íŠ¸ ë§í¬
------------------------------------------
[ì°¸ê³  ì‚¬ì´íŠ¸ : íŒë‹¤ìŠ¤ ì—°ìŠµ íŠœí† ë¦¬ì–¼](https://www.datamanim.com/dataset/99_pandas/pandasMain.html)

In [3]:
"""-------------------------------------------------------------------------------------------------------------------------------------------------------------------
ğŸŸ¨ ë°ì´í„°ì…‹ URL ì •ë³´

+ Q56~Q62     :
- info : ì¹´ë“œì´ìš©ë°ì´í„° : https://www.kaggle.com/sakshigoyal7/credit-card-customers 
â–¶ url :
'https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv'


-------------------------------------------------------------------------------------------------------------------------------------------------------------------"""

"-------------------------------------------------------------------------------------------------------------------------------------------------------------------\nğŸŸ¨ ë°ì´í„°ì…‹ URL ì •ë³´\n\n+ Q44~Q55     :\n- info : ì¹´ë“œì´ìš©ë°ì´í„° : https://www.kaggle.com/sakshigoyal7/credit-card-customers \nâ–¶ url :\n'https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv'\n\n\n-------------------------------------------------------------------------------------------------------------------------------------------------------------------"

#### 04_Apply , Map
-----------------------------------------------------

In [4]:
# Q56. ë°ì´í„°ë¡œë“œ
#-------------------------------------
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv')

In [6]:
# Q56. í–‰ê³¼ ì—´ì˜ ê°¯ìˆ˜ë¥¼ ì¶œë ¥
#-------------------------------------
Q56 = df.shape
Q56

(10127, 19)

In [7]:
# Q57. Income_Categoryì˜ ì¹´í…Œê³ ë¦¬ë¥¼ map í•¨ìˆ˜ë¥¼ ì´ìš©í•˜ì—¬ ë‹¤ìŒê³¼ ê°™ì´ ë³€ê²½í•˜ì—¬ newIncome ì»¬ëŸ¼ì— ë§¤í•‘
# ì˜ˆì‹œ :
'''
        Unknown : N
        Less than $40K : a
        $40K - $60K : b
        $60K - $80K : c
        $80K - $120K : d
        $120K + : e
'''
#-------------------------------------
dict = {
            'Unknown'        : 'N',
            'Less than $40K' : 'a',
            '$40K - $60K'    : 'b',
            '$60K - $80K'    : 'c',
            '$80K - $120K'   : 'd',
            '$120K +'        : 'e'     
       }
df['newIncome']  = df.Income_Category.map(lambda x: dict[x])
Q57 = df['newIncome']
Q57

0        c
1        a
2        d
3        a
4        c
        ..
10122    b
10123    b
10124    a
10125    b
10126    a
Name: newIncome, Length: 10127, dtype: object

In [8]:
# Q58. Income_Categoryì˜ ì¹´í…Œê³ ë¦¬ë¥¼ apply í•¨ìˆ˜ë¥¼ ì´ìš©í•˜ì—¬ ë‹¤ìŒê³¼ ê°™ì´ ë³€ê²½í•˜ì—¬ newIncome ì»¬ëŸ¼ì— ë§¤í•‘
# ì˜ˆì‹œ :
'''
        Unknown : N
        Less than $40K : a
        $40K - $60K : b
        $60K - $80K : c
        $80K - $120K : d
        $120K + : e
'''
#-------------------------------------
def changeCategory(x):
    if x =='Unknown':
        return 'N'
    elif x =='Less than $40K':
        return 'a'
    elif x =='$40K - $60K':   
        return 'b'
    elif x =='$60K - $80K':    
        return 'c'
    elif x =='$80K - $120K':   
        return 'd'
    elif x =='$120K +' :     
        return 'e'

df['newIncome']  =df.Income_Category.apply(changeCategory)
Q58 = df['newIncome']
Q58

0        c
1        a
2        d
3        a
4        c
        ..
10122    b
10123    b
10124    a
10125    b
10126    a
Name: newIncome, Length: 10127, dtype: object

In [9]:
# Q59. Customer_Ageì˜ ê°’ì„ ì´ìš©í•˜ì—¬ ë‚˜ì´ êµ¬ê°„ì„ AgeState ì»¬ëŸ¼ìœ¼ë¡œ ì •ì˜í•˜ê³ 
#      0~9 : 0 , 10~19 :10 , 20~29 :20 â€¦ ê° êµ¬ê°„ì˜ ë¹ˆë„ìˆ˜ë¥¼ ì¶œë ¥
#-------------------------------------
df['AgeState']  = df.Customer_Age.map(lambda x: x//10 *10)
Q59 = df['AgeState'].value_counts().sort_index()
Q59

AgeState
20     195
30    1841
40    4561
50    2998
60     530
70       2
Name: count, dtype: int64

In [10]:
# Q60. Education_Levelì˜ ê°’ì¤‘ Graduateë‹¨ì–´ê°€ í¬í•¨ë˜ëŠ” ê°’ì€ 1, ê·¸ë ‡ì§€ ì•Šì€ ê²½ìš°ì—ëŠ” 0ìœ¼ë¡œ ë³€ê²½í•˜ì—¬
#      newEduLevel ì»¬ëŸ¼ì„ ì •ì˜í•˜ê³  ë¹ˆë„ìˆ˜ë¥¼ ì¶œë ¥
#-------------------------------------
df['newEduLevel'] = df.Education_Level.map(lambda x : 1 if 'Graduate' in x else 0)
Q60 = df['newEduLevel'].value_counts()
Q60

newEduLevel
0    6483
1    3644
Name: count, dtype: int64

In [11]:
# Q61. Credit_Limit ì»¬ëŸ¼ê°’ì´ 4500 ì´ìƒì¸ ê²½ìš° 1 ê·¸ì™¸ì˜ ê²½ìš°ì—ëŠ” ëª¨ë‘ 0ìœ¼ë¡œ í•˜ëŠ” newLimit ì •ì˜í•˜ê³ ,
#      newLimit ê° ê°’ë“¤ì˜ ë¹ˆë„ìˆ˜ë¥¼ ì¶œë ¥
#-------------------------------------
df['newLimit'] = df.Credit_Limit.map(lambda x : 1 if x>=4500 else 0)
Q61 = df['newLimit'].value_counts()
Q61

newLimit
1    5096
0    5031
Name: count, dtype: int64

In [13]:
# Q62. Marital_Status ì»¬ëŸ¼ê°’ì´ Married ì´ê³  Card_Category ì»¬ëŸ¼ì˜ ê°’ì´ Platinumì¸ ê²½ìš° 1 
#      ê·¸ì™¸ì˜ ê²½ìš°ì—ëŠ” ëª¨ë‘ 0ìœ¼ë¡œ í•˜ëŠ” newStateì»¬ëŸ¼ì„ ì •ì˜í•˜ê³ 
#      newStateì˜ ê° ê°’ë“¤ì˜ ë¹ˆë„ìˆ˜ë¥¼ ì¶œë ¥
#-------------------------------------
def check(x):
    if x.Marital_Status =='Married' and x.Card_Category =='Platinum':
        return 1
    else:
        return 0
df['newState'] = df.apply(check,axis=1)
Q62  = df['newState'].value_counts()
Q62

newState
0    10120
1        7
Name: count, dtype: int64

In [14]:
# Q62. Gender ì»¬ëŸ¼ê°’ Mì¸ ê²½ìš° male Fì¸ ê²½ìš° femaleë¡œ ê°’ì„ ë³€ê²½í•˜ì—¬ Gender ì»¬ëŸ¼ì— ìƒˆë¡­ê²Œ ì •ì˜í•˜ê³ 
#      ê° valueì˜ ë¹ˆë„ë¥¼ ì¶œë ¥
#-------------------------------------
def changeGender(x):
    if x =='M':
        return 'male'
    else:
        return 'female'
df['Gender'] = df.Gender.apply(changeGender)
Q62 = df['Gender'].value_counts()
Q62

Gender
female    5358
male      4769
Name: count, dtype: int64

In [ ]:
# Q
#-------------------------------------
Q0

0